.header {
  background-color: var(--primary-color);
  & > div {
    height: 100%;
    @media (max-width: 768px) {
      padding: 0 20px;
    }
    @media (max-width: 425px) {
      justify-content: center;
      gap: 20px;
    }
    @media (max-width: 375px) {
      gap: 10px;
      svg {
        width: 130px;
      }
    }
  }
}
