.headerWrapper {
  background-color: #ffaa00;
}
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.loginBlock {
  float: right;
  display: flex;
  align-items: center;
  gap: 15px;
}
.avatar {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
