.postsBlock {
  padding: 10px;
}
.posts {
  margin-top: 10px;
}
.profileBg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.userPhoto {
  width: 150px;
  border-radius: 100%;
  transform: translateX(20px) translateY(-75px);
}
