:root {
  --primary-color: #ffaa00 !important;
  --secondary-color: #5500ff !important;
  --black-color: #000 !important;
  --white-color: #fff !important;
  --transparent-color: transparent !important;
  --red-color: red !important;
}
