.sidebar {
  background-color: #ffaa00 !important;
}
.sidebar ul {
  margin-bottom: 20px;
}
.sidebar h4 {
  text-align: center;
}
.friends {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 30px;
}
.friend {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #5500ff;
}
.friend:hover {
  color: black;
}
.name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 110px;
  white-space: nowrap;
}
