.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}

.friends-avatar {
  width: 30px;
  height: 30px;
  background-color: rgb(81, 255, 0);
  border-radius: 50%;
}

.friends-name {
  font-size: 10px;
}
